<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="ja">
<head>
<meta charset="utf-8">
</head>
<body>

<h1>蔵書データの表示</h1>
<h2>蔵書データの削除</h2>
<p>下記の蔵書データを削除しました</p>
<a href="list.erb">蔵書データの表示</a> | 
<a href="index.html">メニュー画面へ戻る</a>
<hr>

<table>
	<th>項目名</th><th>削除データ</th>
		<% ['id', 'title', 'author', 'page', 'publish_date'].each do |name| %>
		<tr>
			<td><%= name %></td>
			<td><%= req.query[name] %></td>
		</tr>
		<% end %>
	</table>
<hr>
</body>
</html>