<% require "dbi" %>
<% dbh = DBI.connect('DBI:SQLite3:bookinfo_sqlite.db') %>
<% sth = dbh.execute("select * from bookinfos where id=\'#{target_id}\'") %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="ja">
<head>
<meta charset="utf-8">
</head>
<body>

<h1>蔵書データ</h1>
<h2>蔵書データの修正</h2>
<p>このデータを修正します</p>
<a href="list.erb">蔵書データの表示</a> | 
<a href="index.html">メニュー画面へ戻る</a>
<hr>

<form method="post" action="edit">
<input type="hidden" name="id" value="<%= target_id %>">
<table>
<% sth.each do |row| %>
<th>項目名</th><th>修正データ</th>
	<% ['id', 'title', 'author', 'page', 'publish_date'].each do |name| %>
	<tr>
		<td><%= name %></td>
		<td><input name="<%= name %>" value="<%= row[name] %>" size="60"></td>
	</tr>
<% end %>
<% end %>
</table>
<input type="submit" value="修正する">
</form>
<hr>

</body>
</html>