<% require "dbi" %>
<% dbh = DBI.connect('DBI:SQLite3:bookinfo_sqlite.db') %>
<% rows = dbh.select_all("select * from bookinfos #{where_data};") %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="ja">
<head>
<meta charset="utf-8">
</head>
<body>

<h1>蔵書データの表示</h1>
<% unless rows.size > 0 then %>
<h2>該当データがありません</h2>
<p>検索条件を見なおしてから実行してください</p>
<a href="list.erb">蔵書データの表示</a> |
<a href="index.html">メニュー画面へ戻る</a>

<% else %>
<h2>検索結果の表示</h2>
<p>処理する蔵書データを選択してください</p>
<a href="list.erb">蔵書データの表示</a> |
<a href="index.html">メニュー画面へ戻る</a>
<hr>

<form method="post" action="list">
<table>
<tr>
    <th>削除</th><th>修正</th>
    <% ['id', 'title', 'author', 'page', 'publish_date'].each do |name| %>
        <th><%= name %></th>
    <% end %>
    </tr>

<% rows.each do |row| %>
<tr>
    <% ['id', 'title', 'author', 'page', 'publish_date'].each do |name| %>
    <% if name == 'id' then %>
    <td><input type="radio" name="operation" value=<%="#{row[name]}.delete"%>></td>
    <td><input type="radio" name="operation" value=<%="#{row[name]}.edit"%>></td>
    <% end %>
    <td><%= row[name].to_s %></td>
<% end %>
</tr>
<% end %>
</table>
<input type="submit" value="選択した処理を実行">
<% end %>
<hr>

</body>
</html>

<% dbh.disconnect %>
